*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.heading{
padding: 25px;
margin-left: 80px;

font-family: Arimo;
font-weight: 700;
font-style: Bold;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
}
.greeting{
padding: 20px;
margin-left: 80px;
margin-top: 20px;
margin-bottom: 20px;
font-weight: 700;
font-style: Bold;
font-size: 40px;
line-height: 100%;
letter-spacing: 0%;
color: #1C1C1E;
}
.tas{
border-radius: 24px;
padding: 40px;
box-shadow: 4px 20px 40px 0px #1C1C1E1A;
width: 380px;
height: 160px;
  cursor: pointer;
}
.tas:hover {
background-color: #F2F3FF;
}
.container{
    display: flex;
justify-content: space-between;
width: 1200px;
height: 167px;
margin: 15px 0px 15px 150px;
}
.name{
font-family: Arimo;
font-weight: 400;
font-style: Regular;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
color: #B5B5B5;
margin-bottom: 10px;
}
.amount{ 
font-weight: 700;
font-style: Bolder;
font-size: 52px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
color: #1C1C1E;
}
.bar {
  display: flex;
  gap: 10px;
  padding: 20px;
  margin-left: 120px;
}

.search {
 width: 123px;
height: 48px;
opacity: 1;
gap: 8px;
border-radius: 40px;
padding-top: 8px;
padding-right: 13px;
padding-bottom: 8px;
padding-left: 13px;
border-width: 2px;
color: #F5F5F5;
border: 2px solid #B5B5B5

}

.filter {
  background-color: #eee;
  border-radius: 22px;
  border: none;
  cursor: pointer;
  width: 150px;
height: 50px;
gap: 15px;
border-radius: 40px;
padding-top: 10px;
padding-right: 12px;
padding-bottom: 10px;
padding-left: 12px;

}

.filter:hover {
  background-color: #6366f1;
  color: white;
}

.action {
  background-color: #6366f1;
  color: white;
  padding: 10px 15px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  
}
 sup{
  color: red;
 }
  form{

display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
  }
  .input-containor{
display: flex;
flex-direction: column;
  }
  .form-heading{


display: flex;
border-bottom: 2px solid black;

  }
  table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

button {
  padding: 4px 8px;
  margin: 2px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:nth-child(1) {
  background-color: #e0f0ff;
  color: #0366d6;
}

button:nth-child(2) {
  background-color: #ffe0e0;
  color: #d63333;
}
